.custom-button {
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: #2d6a4f;
  color: #f2e6d0;
  padding: 10px 20px;
  border: none;
  border-radius: 100px;
  font-family: "Cinzel", serif;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.custom-button:hover {
  background-color: #1b4332;
}
