/* Importa as fontes Cinzel e Spectral do Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&family=Spectral:wght@300;400;500;600;700&display=swap");

/* Define a fonte base do site */
body {
  font-family: "Spectral", serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Aplica Cinzel para títulos */
h1,
h2,
h3,
a {
  font-family: "Cinzel", serif;
  margin: 0;
}

/* Garante consistência nos elementos comuns */
p,
span,
li,
button,
input,
textarea {
  font-family: "Karla", sans-serif;
}

html {
  scroll-behavior: smooth;
}
